.shipping-details{

    input{
        width: 100% !important;
        padding-inline: 2rem;
    }
    .radiobtns{
        input{
            width: 20px !important;
            height: 20px;
            padding: 0 !important;
        }
    }
}
