.update-password{
padding-left: 2rem;
button{
    margin-top: 2rem;
    width: fit-content;
    background-color: #0F172A;
    border-radius: 30px;
    border: none;
    padding: 20px;
    color: white;
}
}