.sizeButton {
    
    button{
    border: none;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px !important;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      // rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    justify-content: center;
    color: white;
    background: black;
    display: flex;
    align-items: center;
  }
  .selected{
    background: cadetblue;
  }
}
.border-color {
  border:2px solid grey;
  display: flex;
  // padding: 1.01px 1.1px 0.7px 1px;
}
